In [ ]:
# 행렬 연산
import numpy as np

# 데이터 구성
import pandas as pd

# 데이터 시각화
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

# 데이터 분할: train, test
from sklearn.model_selection import train_test_split

# Scaling 클래스
from sklearn.preprocessing import StandardScaler

# 로지스틱 회귀
import statsmodels.api as sm
from statsmodels.api import Logit 

# 분류 Decision Tree
from sklearn.tree import DecisionTreeClassifier

# 분류 Random Forest
from sklearn.ensemble import RandomForestClassifier

# 분류 Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier

# 최적 모델, 파라미터 탐색
from sklearn.model_selection import GridSearchCV

# export_graphviz: 나무 구조 생성 및 저장
from sklearn.tree import export_graphviz

# graphviz : 나무 구조 시각화 (.dot 확장자 파일 불러오기 등)
import graphviz

# 분류 모델 평가 함수
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import confusion_matrix, classification_report

# 카이제곱검정
from scipy import stats
from scipy.stats import chi2_contingency

import statsmodels.formula.api as smf

from tqdm import tqdm

# 배송리드타임

In [ ]:
# 데이터 구성하기
df_sales = pd.read_csv('C:/Users/Administrator/Desktop/A2_유아용품/Sales_data.csv')
df_sales

c:\users\administrator\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,주문번호,구매일,배송시작일,배송완료일,구매시월령(수정),고객번호,구매금액,결제금액,물품대분류,상품명
0,201905052342970,2019-05-06,2019-05-07,2019-05-11,4.0,201812310749735,25800,16314,더블하트,더블하트 SofTouch 모유실감 젖꼭지 M (2입)
1,202002203424450,2020-02-20,2020-02-21,2020-02-23,14.0,201812310749735,51200,37769,팬티,NEW 하기스 맥스드라이 팬티 5단계 남아 80매(팬티형)
2,201902282095385,2019-02-28,2019-03-01,2019-03-05,NaN,201812310749770,5610,3800,FMC,크리넥스？키즈용？화장지？3겹？27m 8롤
3,201905132367003,2019-05-13,2019-05-14,2019-05-16,66.0,201812310749771,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형)
4,201905092356247,2019-05-10,2019-05-11,2019-05-13,5.0,201812310749774,50640,39788,기저귀,하기스 에어솔솔 썸머기저귀 3단계 공용 144매(밴드형)
...,...,...,...,...,...,...,...,...,...,...
199994,20200724113704-52679491210,2020-07-24,2020-07-25,2020-07-27,5.0,20200724113017315991,11700,9240,FMC,크리넥스 뽑아쓰는 키친타월 펭수에디션 140매 X 4입 (EA)
199995,20200729134816-18220910068,2020-07-29,2020-07-30,2020-08-01,NaN,20200729134409126553,3000,3000,체험팩,맘큐 허그박스
199996,20200803080150-09054399128,2020-08-03,2020-08-04,2020-08-07,5.0,20200803075905757887,5900,5841,체험팩,NEW 하기스 맥스드라이 팬티 3단계 공용 20매(팬티형/체험팩) (EA)
199997,20200805171023-18783441109,2020-08-06,2020-08-07,2020-08-11,NaN,20200805170229147688,3000,3000,체험팩,맘큐 허그박스
199998,20200805224157-34181488371,2020-08-06,2020-08-07,2020-08-09,NaN,20200805223526494551,8500,8500,기타,[먼치킨] 멀티 젖병솔 세트

In [ ]:
# 데이터 구성하기
df_member = pd.read_csv('C:/Users/Administrator/Desktop/A2_유아용품/Member_data.csv')
df_member

c:\users\administrator\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

                       고객번호   성별 결혼유무 거주지역    연령 결제등록카드    유입경로 자녀여부
0           201812310749735    여   기혼   인천  37.0   국민은행   인스타그램  Yes
1           201812310749770    여   기혼   제주  33.0   국민은행    검색광고  Yes
2           201812310749771    여   기혼   부산  32.0   하나은행  네이버블로그  Yes
3           201812310749774    여   미혼   경남  34.0   기업은행    지인추천   No
4           201812310749780    여   기혼   서울  32.0   신한은행    직접검색  Yes
...                     ...  ...  ...  ...   ...    ...     ...  ...
81355  20200724113017315991  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81356  20200729134409126553  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81357  20200803075905757887  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81358  20200805170229147688  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81359  20200805223526494551  NaN  NaN  NaN   NaN    NaN     NaN  NaN

[81360 rows x 8 columns]

In [ ]:
# 결측치 제거
df_member.isnull().sum()

고객번호        0
성별        266
결혼유무      266
거주지역      266
연령        266
결제등록카드    266
유입경로      266
자녀여부      266
dtype: int64

In [ ]:
df_member.dropna(inplace=True)

In [ ]:
df_member

                  고객번호 성별 결혼유무 거주지역    연령 결제등록카드    유입경로 자녀여부
0      201812310749735  여   기혼   인천  37.0   국민은행   인스타그램  Yes
1      201812310749770  여   기혼   제주  33.0   국민은행    검색광고  Yes
2      201812310749771  여   기혼   부산  32.0   하나은행  네이버블로그  Yes
3      201812310749774  여   미혼   경남  34.0   기업은행    지인추천   No
4      201812310749780  여   기혼   서울  32.0   신한은행    직접검색  Yes
...                ... ..  ...  ...   ...    ...     ...  ...
81089  201912291058164  여   기혼   경기  31.0   국민은행    오픈마켓  Yes
81090  201912291058167  여   기혼   경남  37.0   롯데카드    오픈마켓  Yes
81091  201912291058168  여   기혼   충북  26.0   삼성카드    검색광고  Yes
81092  201912291058169  여   기혼   경기  32.0  새마을금고   인스타그램  Yes
81093  201912291058171  여   기혼   서울  35.0  새마을금고   인스타그램  Yes

[81094 rows x 8 columns]

In [ ]:
# 변수 타입 변경
df_sales['구매일'] = pd.to_datetime(df_sales['구매일'])
df_sales['배송시작일'] = pd.to_datetime(df_sales['배송시작일'])
df_sales['배송완료일'] = pd.to_datetime(df_sales['배송완료일'])
print(df_sales.dtypes)

주문번호                 object
구매일          datetime64[ns]
배송시작일        datetime64[ns]
배송완료일        datetime64[ns]
구매시월령(수정)           float64
고객번호                 object
구매금액                  int64
결제금액                  int64
물품대분류                object
상품명                  object
dtype: object

In [ ]:
# 배송 리드 타임 계산
df_sales['배송리드타임'] = df_sales['배송완료일']-df_sales['구매일']
df_sales

,주문번호,구매일,배송시작일,배송완료일,구매시월령(수정),고객번호,구매금액,결제금액,물품대분류,상품명,배송리드타임
0,201905052342970,2019-05-06,2019-05-07,2019-05-11,4.0,201812310749735,25800,16314,더블하트,더블하트 SofTouch 모유실감 젖꼭지 M (2입),5 days
1,202002203424450,2020-02-20,2020-02-21,2020-02-23,14.0,201812310749735,51200,37769,팬티,NEW 하기스 맥스드라이 팬티 5단계 남아 80매(팬티형),3 days
2,201902282095385,2019-02-28,2019-03-01,2019-03-05,NaN,201812310749770,5610,3800,FMC,크리넥스？키즈용？화장지？3겹？27m 8롤,5 days
3,201905132367003,2019-05-13,2019-05-14,2019-05-16,66.0,201812310749771,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형),3 days
4,201905092356247,2019-05-10,2019-05-11,2019-05-13,5.0,201812310749774,50640,39788,기저귀,하기스 에어솔솔 썸머기저귀 3단계 공용 144매(밴드형),3 days
...,...,...,...,...,...,...,...,...,...,...,...
199994,20200724113704-52679491210,2020-07-24,2020-07-25,2020-07-27,5.0,20200724113017315991,11700,9240,FMC,크리넥스 뽑아쓰는 키친타월 펭수에디션 140매 X 4입 (EA),3 days
199995,20200729134816-18220910068,2020-07-29,2020-07-30,2020-08-01,NaN,20200729134409126553,3000,3000,체험팩,맘큐 허그박스,3 days
199996,20200803080150-09054399128,2020-08-03,2020-08-04,2020-08-07,5.0,20200803075905757887,5900,5841,체험팩,NEW 하기스 맥스드라이 팬티 3단계 공용 20매(팬티형/체험팩) (EA),4 days
199997,20200805171023-18783441109,2020-08-06,2020-08-07,2020-08-11,NaN,20200805170229147688,3000,3000,체험팩,맘큐 허그박스,5 days
199998,20200805224157-34181488371,2020-08-06,2020-08-07,2020-08-09,NaN,20200805223526494551,8500,8500,기타,[먼치킨] 멀티 젖병솔 세트,3 days

In [ ]:
# 배송리드타임 변수 타입 변경
leadtime = df_sales['배송리드타임'].dt.days
df_sales['배송리드타임'] = leadtime
df_sales

,주문번호,구매일,배송시작일,배송완료일,구매시월령(수정),고객번호,구매금액,결제금액,물품대분류,상품명,배송리드타임
0,201905052342970,2019-05-06,2019-05-07,2019-05-11,4.0,201812310749735,25800,16314,더블하트,더블하트 SofTouch 모유실감 젖꼭지 M (2입),5
1,202002203424450,2020-02-20,2020-02-21,2020-02-23,14.0,201812310749735,51200,37769,팬티,NEW 하기스 맥스드라이 팬티 5단계 남아 80매(팬티형),3
2,201902282095385,2019-02-28,2019-03-01,2019-03-05,NaN,201812310749770,5610,3800,FMC,크리넥스？키즈용？화장지？3겹？27m 8롤,5
3,201905132367003,2019-05-13,2019-05-14,2019-05-16,66.0,201812310749771,59520,47922,기저귀,하기스 네이처메이드 밤부 3단계 여아 144매(밴드형),3
4,201905092356247,2019-05-10,2019-05-11,2019-05-13,5.0,201812310749774,50640,39788,기저귀,하기스 에어솔솔 썸머기저귀 3단계 공용 144매(밴드형),3
...,...,...,...,...,...,...,...,...,...,...,...
199994,20200724113704-52679491210,2020-07-24,2020-07-25,2020-07-27,5.0,20200724113017315991,11700,9240,FMC,크리넥스 뽑아쓰는 키친타월 펭수에디션 140매 X 4입 (EA),3
199995,20200729134816-18220910068,2020-07-29,2020-07-30,2020-08-01,NaN,20200729134409126553,3000,3000,체험팩,맘큐 허그박스,3
199996,20200803080150-09054399128,2020-08-03,2020-08-04,2020-08-07,5.0,20200803075905757887,5900,5841,체험팩,NEW 하기스 맥스드라이 팬티 3단계 공용 20매(팬티형/체험팩) (EA),4
199997,20200805171023-18783441109,2020-08-06,2020-08-07,2020-08-11,NaN,20200805170229147688,3000,3000,체험팩,맘큐 허그박스,5
199998,20200805224157-34181488371,2020-08-06,2020-08-07,2020-08-09,NaN,20200805223526494551,8500,8500,기타,[먼치킨] 멀티 젖병솔 세트,3

In [ ]:
s6 = df_sales.groupby(by = ['고객번호'])['배송리드타임'].sum()

In [ ]:
df_member = pd.merge(df_member, s6, how = 'left', on = '고객번호')
df_member

                  고객번호 성별 결혼유무 거주지역    연령 결제등록카드    유입경로 자녀여부  배송리드타임
0      201812310749735  여   기혼   인천  37.0   국민은행   인스타그램  Yes     8.0
1      201812310749770  여   기혼   제주  33.0   국민은행    검색광고  Yes     5.0
2      201812310749771  여   기혼   부산  32.0   하나은행  네이버블로그  Yes     3.0
3      201812310749774  여   미혼   경남  34.0   기업은행    지인추천   No     7.0
4      201812310749780  여   기혼   서울  32.0   신한은행    직접검색  Yes     3.0
...                ... ..  ...  ...   ...    ...     ...  ...     ...
81089  201912291058164  여   기혼   경기  31.0   국민은행    오픈마켓  Yes     3.0
81090  201912291058167  여   기혼   경남  37.0   롯데카드    오픈마켓  Yes     6.0
81091  201912291058168  여   기혼   충북  26.0   삼성카드    검색광고  Yes    14.0
81092  201912291058169  여   기혼   경기  32.0  새마을금고   인스타그램  Yes     3.0
81093  201912291058171  여   기혼   서울  35.0  새마을금고   인스타그램  Yes     3.0

[81094 rows x 9 columns]

In [ ]:
# 배송리드타임 변수 중에서 5일 이상 걸린 주문 건수
lsr = df_sales['배송리드타임']
a = 0
for i in lsr:
    if i > 4:
        a += 1
print(a, '개')

13943 개

In [ ]:
# 배송리드타임이 5일 이상 걸린 확률(배송지연율)
num = 13943/199999*100
print(round(num, 2), '%')

6.97 %

# 고객 당 평균 배송리드타임

In [ ]:
df_member['배송리드타임'] = df_member['배송리드타임'] / df_member['구매횟수']

In [ ]:
df_member.rename(columns={'배송리드타임':'평균 배송리드타임'},inplace=True)
df_member

,고객번호,성별,결혼유무,거주지역,연령,결제등록카드,유입경로,자녀여부,평균 배송리드타임,구매횟수,재구매횟수,총구매금액,총결제금액,최종구매일,휴면지속날짜,휴면계정여부,회당 결제금액,나이대
0,201812310749735,여,기혼,인천,37.0,국민은행,인스타그램,Yes,4.0,2,1,77000,54083,2020-02-20,169,True,27041.5,30대
1,201812310749770,여,기혼,제주,33.0,국민은행,검색광고,Yes,5.0,1,0,5610,3800,2019-02-28,526,True,3800.0,30대
2,201812310749771,여,기혼,부산,32.0,하나은행,네이버블로그,Yes,3.0,1,0,59520,47922,2019-05-13,452,True,47922.0,30대
3,201812310749774,여,미혼,경남,34.0,기업은행,지인추천,No,3.5,2,1,151920,116532,2019-07-29,375,True,58266.0,30대
4,201812310749780,여,기혼,서울,32.0,신한은행,직접검색,Yes,3.0,1,0,27920,19900,2019-01-30,555,True,19900.0,30대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67318,201912291058164,여,기혼,경기,31.0,국민은행,오픈마켓,Yes,3.0,1,0,48900,25778,2020-06-01,67,False,25778.0,30대
67319,201912291058167,여,기혼,경남,37.0,롯데카드,오픈마켓,Yes,3.0,2,1,124200,99893,2020-04-19,110,False,49946.5,30대
67320,201912291058168,여,기혼,충북,26.0,삼성카드,검색광고,Yes,3.5,4,3,211940,163234,2020-07-18,20,False,40808.5,20대
67321,201912291058169,여,기혼,경기,32.0,새마을금고,인스타그램,Yes,3.0,1,0,51000,36579,2019-12-29,222,True,36579.0,30대
67322,201912291058171,여,기혼,서울,35.0,새마을금고,인스타그램,Yes,3.0,1,0,4900,4851,2020-05-15,84,False,4851.0,30대

In [ ]:
df_member.sort_values(by='평균 배송리드타임', ascending=False)

,고객번호,성별,결혼유무,거주지역,연령,결제등록카드,유입경로,자녀여부,평균 배송리드타임,구매횟수,재구매횟수,총구매금액,총결제금액,최종구매일,휴면지속날짜,휴면계정여부,회당 결제금액,나이대
40817,201905290904040,남,기혼,대전,31.0,농협중앙회,페이스북,Yes,5.0,1,0,67700,46932,2019-07-02,402,True,46932.0,30대
44262,201906170917745,여,미혼,전남,29.0,신한은행,네이버카페,No,5.0,1,0,3000,3000,2019-06-20,414,True,3000.0,20대
44097,201906160917154,여,미혼,충남,34.0,우리은행,네이버블로그,No,5.0,1,0,3000,3000,2019-06-17,417,True,3000.0,30대
44119,201906160917223,여,기혼,인천,27.0,부산은행,인스타그램,Yes,5.0,1,0,38700,22986,2019-10-11,301,True,22986.0,20대
44124,201906160917241,여,기혼,서울,33.0,농협회원조합,인스타그램,Yes,5.0,1,0,17800,8900,2019-06-25,409,True,8900.0,30대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34872,201904230878355,여,기혼,광주,37.0,삼성카드,네이버블로그,Yes,3.0,2,1,34800,19274,2020-02-12,177,True,9637.0,30대
34873,201904230878358,여,기혼,강원,38.0,신한카드,인스타그램,Yes,3.0,1,0,94720,77616,2019-06-04,430,True,77616.0,30대
7704,201901270776284,여,기혼,부산,30.0,농협중앙회,지인추천,Yes,3.0,1,0,19900,19900,2020-01-22,198,True,19900.0,30대
34876,201904230878381,여,미혼,경기,33.0,하나은행,검색광고,No,3.0,3,2,31130,24531,2020-07-01,37,False,8177.0,30대
67322,201912291058171,여,기혼,서울,35.0,새마을금고,인스타그램,Yes,3.0,1,0,4900,4851,2020-05-15,84,False,4851.0,30대

In [ ]:
df_member.isnull().sum()

고객번호         0
성별           0
결혼유무         0
거주지역         0
연령           0
결제등록카드       0
유입경로         0
자녀여부         0
평균 배송리드타임    0
구매횟수         0
재구매횟수        0
총구매금액        0
총결제금액        0
최종구매일        0
휴면지속날짜       0
휴면계정여부       0
회당 결제금액      0
나이대          0
dtype: int64

In [ ]:
df_member.shape

(67323, 18)

In [ ]:
# csv로 저장
df_member.to_csv('member_배송리드타임.csv', encoding='utf-8-sig')